<h3>Write a comment</h3>
<%= form_for [@post, @comment] do |f| %>

  <p>
    <%= f.text_area :content, rows: "3", placeholder: "Comment", class: "comment_area form-control"%>
  </p>

  <p>
    <%= f.submit 'Submit', class: "btn btn-success pull-right"%>
  </p>
  <% end %>
