<div class="container">
  <div class="row">
    <h3>New post</h3>
    <%= form_for(@post) do |f|%>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :title, placeholder: "Title", type: "text", class: "form-control input" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.text_area :body, rows: "3", placeholder: "Content of the post", class: "textarea form-control" %>
          </div>
         </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.submit class: "btn btn-secondary btn-outline pull-right"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
