<br>
<div class="container">
  <% @posts.each do |post| %>
  <div class="well">
        <div class="media-body">
          <h3 class="media-heading">
            <%=link_to post.title, post_path(post), class: 'post_title', id: "post_#{post.id}" %>
          </h3>
          <p class="text-right">
          </p>
          <p>
            <%= post.body %>
          </p>
            <%= link_to "Read more", post_path(post) %>
        </div>
      </div>
  <% end %>
  </div>


